In [1]:
import pandas as pd
import sqlalchemy as sal
from sqlalchemy import create_engine

# Data Loading

In [2]:
df = pd.read_csv('dataset_spotify_cleaned.csv')

In [3]:
df.head(10)

,user_id,subscription_type,country,avg_daily_minutes,number_of_playlists,top_genre,skips_per_day,support_tickets,days_since_last_login,churned
0,user_1,Premium,Us,134.9,4,Electronic,6,0,1,0
1,user_2,Premium,Pk,165.7,5,Pop,8,0,12,0
2,user_3,Free,De,45.9,3,Classical,3,0,3,0
3,user_4,Premium,Pk,106.0,0,Jazz,7,0,3,0
4,user_5,Premium,Us,89.6,5,Country,2,1,6,0
5,user_6,Free,In,17.6,0,Rock,6,2,7,1
6,user_7,Free,Uk,43.7,2,Hip-Hop,1,1,0,0
7,user_8,Premium,Br,131.3,3,Classical,7,0,1,0
8,user_9,Free,Fr,41.9,5,Country,4,0,0,0
9,user_10,Free,De,28.3,1,Electronic,6,0,10,0

# Data Preparation

In [4]:
# ubah semua kolom bertipe object/category jadi lowercase
for col in df.select_dtypes(include=['object', 'category']).columns:
    df[col] = df[col].str.lower()

df.head(10)

,user_id,subscription_type,country,avg_daily_minutes,number_of_playlists,top_genre,skips_per_day,support_tickets,days_since_last_login,churned
0,user_1,premium,us,134.9,4,electronic,6,0,1,0
1,user_2,premium,pk,165.7,5,pop,8,0,12,0
2,user_3,free,de,45.9,3,classical,3,0,3,0
3,user_4,premium,pk,106.0,0,jazz,7,0,3,0
4,user_5,premium,us,89.6,5,country,2,1,6,0
5,user_6,free,in,17.6,0,rock,6,2,7,1
6,user_7,free,uk,43.7,2,hip-hop,1,1,0,0
7,user_8,premium,br,131.3,3,classical,7,0,1,0
8,user_9,free,fr,41.9,5,country,4,0,0,0
9,user_10,free,de,28.3,1,electronic,6,0,10,0

# Load the data into sql server using replace option

In [5]:
import sqlalchemy as sal

engine = sal.create_engine(
    "mssql+pyodbc://@DESKTOP-RAQ39CC\\SQLEXPRESS/spotify?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes"
)
conn = engine.connect()
print("✅ Koneksi berhasil!")

✅ Koneksi berhasil!

In [6]:
# simpan dataframe df ke tabel bernama spotify_churn
df.to_sql(
    'spotify_churn',   # nama tabel
    con=conn,
    schema='dbo',      # schema default
    index=False,
    if_exists='replace'   # kalau tabel sudah ada, diganti; kalau belum ada, dibuat
)
print("✅ Data berhasil dikirim ke SQL Server.")

✅ Data berhasil dikirim ke SQL Server.